#MainMenu {visibility: hidden;}
/*footer {visibility: hidden;}*/
p {
    color: #FFFFFF; 
    font-size:13px;
}

.title1 {
    color: #FFFFFF; 
    font-size:22px;
}

.title2 {
    color: #FFFFFF; 
    font-size:17px;
}

.title3 {
    color: #FFFFFF; 
    font-size:15px;
    font-weight:bold
}
.stButton>button {
    color: #015249;
    border-radius: 50%;
    /* height: 2em;
    width: 5em; */
}

.stDownloadButton>button {
    color: #015249;
    border-radius: 50%;
    /* height: 2em;
    width: 5em; */
}
.stTextInput>div>div>input {
    font-size:13px;
    color: #FFFFFF;
}

.stTextInput>label {
    font-size:13px;
    color: #FFFFFF;
    font-weight:bold
}

.stMultiSelect>label{
    font-size:13px;
    color: #FFFFFF;
}

.stSelectbox>label{
    font-size:13px;
    color: #FFFFFF;
    font-weight:bold
}

stFileUploader>label{
    font-size:13px;
    color: #FFFFFF; 
}

.fontPageHeadings {
    font-size:26px; 
    color: #015249;
}
.fontPageText {
    font-size:13px; 
    color: #FFFFFF;
}

a:link , a:visited {
    color: #015249;
    background-color: transparent;
    text-decoration: underline;
}
    
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #015249;
    background-color: transparent;
    text-decoration: underline;
}
    
.footer {
    font-size:10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #0E1117;
    color: white;
    text-align: center;
}